<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"><title> Preguntas </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<h1>Créditos:</h1>
<p><b>Autor: Jorge Isaac Perez Alvarez</b></p>
<img src="/images/jorge.jpg" alt="JPerez">
