<html>
<head>
  <meta charset="utf-8"><title> Preguntas </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  Añadir Pregunta: <p>
  <form method="post" action="/quizes/create" >
    <% include _form.ejs %>
  </form>
